<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Wi-Fi Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>QR Wi-Fi Generator</h1>
        <form id="qrForm">
            <div class="form-group">
                <label for="ssid">SSID (Network Name):</label>
                <select id="ssid" name="ssid" required>
                    <option value="">--Select or type a new SSID--</option>
                </select>
                <input type="text" id="newSsid" placeholder="Type new SSID" style="display: none;">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <div class="password-input">
                    <input type="password" id="password" name="password">
                    <span class="toggle-password" onclick="togglePasswordVisibility()">Show</span>
                </div>
            </div>
            <div class="form-group">
                <label for="encryption">Encryption Type:</label>
                <select id="encryption" name="encryption">
                    <option value="WPA">WPA/WPA2</option>
                    <option value="WEP">WEP</option>
                    <option value="nopass">None</option>
                </select>
            </div>
            <button type="submit">Generate QR Code</button>
        </form>

        <div id="qrCodeResult" class="qr-code-result">
            <!-- QR code will be displayed here -->
            <img id="qrCodeImage" src="" alt="Generated QR Code" style="display: none;">
            <a id="downloadLink" href="" download="wifi_qr_code.png" style="display: none;">Download QR Code</a>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>